<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513551120083-u77hi2c57s4kl6l8sa6733fe0rklq69d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513551120083-u77hi2c57s4kl6l8sa6733fe0rklq69d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>513551120083-i8dkb7pktlgmne80qk2s38ftesd03jn7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOdAwJADcmKeSZ8yMWeSfyCaA04xpBqu4</string>
	<key>GCM_SENDER_ID</key>
	<string>513551120083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mother.eye.richtalk</string>
	<key>PROJECT_ID</key>
	<string>richtalk-new</string>
	<key>STORAGE_BUCKET</key>
	<string>richtalk-new.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513551120083:ios:6b62ee1dfa95023818c626</string>
</dict>
</plist>